{% extends "draggable/base.html" %}

{% block content %}
<div class="row">
<ul id="sortable" class="ui-sortable">
{% for section in sections %}
    {% if section.section_type == "T" %}
        <li class="ui-state-default ui-sortable-handle T"><div>
        Title: <input type="text" name="title" value="{{ section.text }}">
        Title Size: <input type="text" name="titlesize" value="{{ section.title_size }}">
        <button class="btn btn-danger" onclick="deleteelement()">X</button>
    {% elif section.section_type == "Y" %}
        <li class="ui-state-default ui-sortable-handle Y"><div>
        Youtube URL: <input type="text" name="url" value="{{ section.text }}">
        Width: <input type="text" name="width" value="{{ section.youtube_width }}">
        Height: <input type="text" name="height" value="{{ section.youtube_height }}">
        <button class="btn btn-danger">X</button>
    {% elif section.section_type == "I" %}
        <li class="ui-state-default ui-sortable-handle I"><div>
        Image URL: <input type="text" name="url" value="{{ section.text }}">
        Width: <input type="text" name="width" value="{{ section.image_width }}">
        Height: <input type="text" name="height" value="{{ section.image_height }}">
        <button class="btn btn-danger">X</button>
    {% else %}
        <li class="ui-state-default ui-sortable-handle C"><div>
        Content: <textarea class="form-control" rows="5">{{ section.text }}</textarea>
        <button class="btn btn-danger">X</button>
    {% endif %}
    </div><br></li>
{% endfor %}
</ul>
</div>

 <br>
  <button class="btn btn-info" onclick="addtitle()">Add Title</button>
  <button class="btn btn-info" onclick="addcontent()">Add Content</button>
  <button class="btn btn-info" onclick="addyoutube()">Add Youtube</button>
  <button class="btn btn-info" onclick="addimage()">Add Image</button>
  <hr>


  <button class="btn btn-success" type="submit" onclick="postjson()">Save Article</button>
  <button class="btn btn-default">Preview</button>
  <button class="btn btn-info"><a href="/article/{{pk }}">Go to Article</a></button>

{% endblock content %}




{% block customjs %}
  <script>
    var $ = jQuery;
    $(function() {
      $( "#sortable" ).sortable();
      $( "#sortable" ).disableSelection();
    });


    function postjson()
    {

        $.ajax({
              type: "POST",
              url: window.location.href,
              data: JSON.stringify(jsondata()['sections']),
              dataType: "text"
        });
    }

    function jsondata()
    {
        sortids()
        li_elements = document.getElementsByTagName('li');
        if (li_elements.length == 0) return {};
        obj = {"sections": []}
        for (x = 0; x < li_elements.length; x++){
            sx = (x+1).toString()
            li_array = li_elements[x].className.split(' ');

            if (li_array[1].length < li_array[2].length){
                li_element = li_array[1];
            }
            else {
                li_element = li_array[2];
            }

            switch (li_element) {
                case 'T':
                    t_obj = {};
                    t_obj['type'] = 'T';
                    t_obj['index'] = x + 1;
                    t_obj['text'] = document.getElementById(sx).children[0].children[0].value;
                    t_obj['text_size'] = document.getElementById(sx).children[0].children[1].value;
                    obj['sections'].push(t_obj);
                    break;
                case 'C':
                    t_obj = {};
                    t_obj['type'] = 'C';
                    t_obj['index'] = x + 1;
                    t_obj['text'] = document.getElementById(sx).children[0].children[0].value;
                    obj['sections'].push(t_obj);
                    break;
                case 'Y':
                    t_obj = {};
                    t_obj['type'] = 'Y';
                    t_obj['index'] = x + 1;
                    t_obj['url']  = document.getElementById(sx).children[0].children[0].value;
                    t_obj['width']  = document.getElementById(sx).children[0].children[1].value;
                    t_obj['height']  = document.getElementById(sx).children[0].children[2].value;
                    obj['sections'].push(t_obj);
                    break;
                case 'I':
                    t_obj = {};
                    t_obj['type'] = 'I';
                    t_obj['index'] = x + 1;
                    t_obj['url']  = document.getElementById(sx).children[0].children[0].value;
                    t_obj['width']  = document.getElementById(sx).children[0].children[1].value;
                    t_obj['height']  = document.getElementById(sx).children[0].children[2].value;
                    obj['sections'].push(t_obj);
                    break;
            }
        }
        return obj;
    }

    function sortids()
    {
        countid = 1
        var lis = document.getElementsByTagName('li');
        for (x = 0; x < lis.length; x++){
            lis[x].id = countid.toString();
            countid += 1;
        }
    }

    $(".btn-danger").click(function(event) {
            event.preventDefault();
            console.log($(this).parentNode);
            //$(this).parentNode.parentNode.remove();
            //$(this).parents('.li').remove();
        });

    function deleteelement()
    {

        var liid = 0;
        var elem = document.getElementsByTagName('li')[liid];
        //elem.parentElement.removeChild(elem);
    }

    //clean up
    function addtitle()
    {
        extrahtml = '<li class="ui-state-default ui-sortable-handle T" id="1"><div>';
        extrahtml += 'Title: <input type="text" name="title">';
        extrahtml += ' Title Size: <input type="text" name="titlesize" value="1">';
        extrahtml += '</div><br></li>';
        $('#sortable').append(extrahtml);
    }

    function addcontent()
    {
        extrahtml = '<li class="ui-state-default ui-sortable-handle C" id="1"><div>';
        extrahtml += 'Content: <textarea class="form-control" rows="5" ></textarea>';
        extrahtml += '</div><br></li>';
        $('#sortable').append(extrahtml);
    }

    function addyoutube()
    {
        extrahtml = '<li class="ui-state-default ui-sortable-handle Y" id="1"><div>';
        extrahtml += 'Youtube URL: <input type="text" name="url">';
        extrahtml += ' Width: <input type="text" name="width" value="560">';
        extrahtml += ' Height: <input type="text" name="height" value="315">';
        extrahtml += '</div><br></li>';
        $('#sortable').append(extrahtml);
    }

    function addimage()
    {
        extrahtml = '<li class="ui-state-default ui-sortable-handle I" id="1"><div>';
        extrahtml += 'Image URL: <input type="text" name="url">';
        extrahtml += ' Width: <input type="text" name="width" value="560">';
        extrahtml += ' Height: <input type="text" name="height" value="315">';
        extrahtml += '</div><br></li>';
        $('#sortable').append(extrahtml);
    }

  </script>
{% endblock customjs %}
